* {
    box-sizing: border-box;
    margin: 0;
    font-size: 0;
}
nav {
    background-color: gray;
    position: fixed;
    display: inline block;
    width: 100%;
}

body {
    background-color: aliceblue;
    height: 100vh;
}
.fake-link {
    color: black;
    font-size: 12px;
    cursor: pointer;
    display: inline-block;
    width: 33%;
    text-align: center;
    cursor: pointer;
}
.title {
    font-size: 40px;
    padding: 20px;
    text-align: center;
}
h1 {
    
    font-size: 24px;
    color: black;
}
.posts {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 1200px;
    padding: 100px;
    width: 600px;
    margin: auto;
}
img {
    display: flex;
    align-self: center;
    height: 300px;
    width: 300px;
    justify-content: center;
    margin: auto;
    padding: 10px;
}
p {
    display: inline-block;
    font-size: 14px;
    align-self: center;
    margin: auto;
}
.date {
    font-size: 10px;
    text-align: center;
    font-weight: bold;

}