* {
    margin: 0;
    box-sizing: border-box;
    font-size: 0px;
}
body {
    height: 100vh;
}
.wrapper {
    
}
.blue {
    height: 100px;
    width: 50px;
    background-color: blue;
    display: inline-block;
}
.white {
    height: 100px;
    width: 50px;
    display: inline-block;
    background-color:
}
.germany {
    height: 100px;
    width: 150px;
    border: solid black 3px; 
    display: inline-block; 
    margin: 20px;
    padding: 10px;  
}
