* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* .wrapper {
    background-image: url("whiskey.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
.footer {
    position: sticky;
    text-align: center;
    /* padding: padding 5px; */
    font-style: italic;
    color: lightcyan;
    background: url("brick background.jpg");
    grid-row: 3/4;
    padding-top: 60px;
}

.footerWrapper {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.header {
    /* background-color: black; */
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background: url("brick background.jpg");

}
.title {
    color: lightcyan;
    font-size: 32px;
    grid-row: 1/3;
    margin-left: 15px;
    font-family: Cantarell;
    font-style: italic;
    font-weight: bold;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    font-size: 11px;
    grid-row: 3/4;
    padding-left: 15px;
    font-family: Georgia;
}
.home {
    grid-column: 1/3;
    color: rgb(209, 209, 209);;
    text-decoration: none;
    font-size: 15px;
    
}

.home:hover {
    color: white;
    transition-property: all;
    transition-duration: .75s;
    text-shadow: steelblue;
    font-weight: bold;
}
.random {
    grid-column: 3/5;
    color: rgb(209, 209, 209);
    text-decoration: none;
    font-size: 15px;
}
.random:hover {
    color: white;
    transition-property: all;
    transition-duration: .75s;
    text-shadow: steelblue;
    font-weight: bold;
}
.search {
    grid-column: 6/7;
    color: whitesmoke;
}
.name {
    grid-column: 8/9;
    color: rgb(209, 209, 209);;
    text-decoration: none;
    font-size: 15px;
}
.name:hover {
    color: white;
    transition-property: all;
    transition-duration: .75s;
    text-shadow: steelblue;
    font-weight: bold;
}
.ingredient {
    grid-column: 10/12;
    color:rgb(209, 209, 209);;
    text-decoration: none;
    font-size: 15px;
}
.ingredient:hover {
    color: white;
    transition-property: all;
    transition-duration: .75s;
    text-shadow: steelblue;
    font-weight: bold;
}
.homeBackground {
    background: url("2whiskeys.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}
.description {
    width: 50%;
    margin-left: 10px;
    padding-bottom: 30px;
    color: goldenrod;
    opacity: .6;
}
.background {
    background: url("brick background.jpg");
}
.content {
    color: whitesmoke;
    opacity: 1;
}
.data {
    font-family: georgia;
}
.drinkName {
    margin-left: 10px;
    padding-bottom: 20px;
    font-size: 24px;
}
.pic {
    display: block;
    opacity: .8;
    border-radius: 2%;
    height: 357px;
    width: 357px;
    align-content: center;
    margin: auto;
}

.glass {
    text-align: center;
    font-size: 24px;
    padding-top: 20px;
}
.instructions {
    text-align: center;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: Georgia;
}
.measurementWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 15px;
    font-family: georgia;
}
.measurements {
    grid-column: 3/6;
}
@media (max-width: 366px) {
    .title{
        font-size: 24px;
        margin-left: 15px;
    }
    nav {
        padding-left: 2px;
    }
    .home {
        font-size: 12px;
        
    }
    .random {
        font-size: 12px;
        
    }
    .name {
        font-size: 12px;
       
    }
    .ingredient {
        font-size: 12px;
    }
    .pic {
        width: 300px;
        height: auto;
    }
    .drinkName {
        font-size: 20px;
    }
}
@media (min-width: 500px){
    /* .header {
        display: grid;
        grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    } */
    .title {
        grid-column: 1/7;
        font-size: 40px;
    }
    /* nav {
        grid-row: 3/4;
        grid-column: 7/13; */
    /* } */
    .homeBackground {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 60vh;
    }
    .drinkName {
        margin-left: 50px;
        font-size: 32px;
    }
    .description {
        width: 35%;
        /* margin-left: 10px;
        padding-bottom: 30px; */
        font-size: 20px;
    }
    h1 {
        font-size: 26px;
        
    }
}
@media (min-width: 800px) {
    .title {
        font-size: 50px;
    }
    h1 {
        font-size: 30px;
    }
    p {
        font-size: 24px;
    }
    .pic {
        width: 450px;
        height: auto;
    }
    .homeBackground {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 70vh;
    }
    .footer {
        padding-top: 40px;
        padding-bottom: 200px
    }
}
@media (min-width: 1100px) {
    .header {
        display: grid;
        grid-template-rows: 1fr 1fr;
    }    
    nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-row: 1/2; 
        padding-top: 12px;
    }
    .ingredient {
        grid-column: 11/13;
    }
    .name {
        grid-column: 9/10;
    }
    .search {
        grid-column: 7/8;
    }
    .random {
        grid-column: 5/6;
    }
    .home {
        grid-column: 3/4;
    }
    .homeBackground {
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 80vh;
    }
    .footerWrapper {
        display: grid;
        grid-template-rows: 1fr;
    }
    .footer {
        padding-top: 40px;
        padding-bottom: 200px
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 30px;
    }
}