body {
    background-color: #111111
}
h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 110%;
}
p {
    color: #eeeeee;
    font-size: 110%;
    line-height: 110%;
}
.credits {
    color: blue;
    text-decoration: underline;
    cursor: hand;
}
#film-description {
    font-size: 85%;
    font-style: italic;
}