* {
    margin: 0;
    box-sizing: border-box;
    font-size: 0px;
}
nav {
    display: flex;
    flex-direction: column;
    text-align: center;
}
a {
    font-size: 32px;
    border: 1px solid black;
}
.content {
    background-color: aquamarine;
}
@media (min-width: 775px) {
    nav{
        flex-direction: row;
        flex-wrap: wrap;
    }
    a {
        width: 50%;
    }
}
@media (min-width: 1200px){
    nav {
        flex-wrap: nowrap;
    }

    /* a {
        flex-grow: 1;
        width: auto;
    } */
}